@import url("https://fonts.googleapis.com/css?family=Nobile:400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  overflow: hidden;
  margin: 0;
  --color-link: #000;
  --color-link-hover: #ff5ba4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
}
canvas, #balloon-container {
  position: absolute;
  top: 0;
  left: 0;
}

#card-front {
  color: #ffdfdf;
}

.wrap {
  padding: 1.5em 2.5em;
  height: 100%;
}
#card-front,
#card-inside {
  width: 75%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25),
    0 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
}

#card-inside .wrap {
  overflow-y: auto;
  background: #ffefef;
  -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
}
#card-inside a {
  font-family: inherit !important;
  color: var(--color-link-hover);
}
#card {
  max-width: 960px;
  margin: 0 auto;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 5000px;
  -moz-perspective: 5000px;
  -webkit-perspective: 5000px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#card h1 {
  text-align: center;
  font-style: italic;
  font-size: 70px;
  color: #fff;
}
#card-inside {
  font-size: 18px;
  line-height: 1.4;
  color: #331717;
  height: 100%;
}

p {
  margin-top: 1em;
}

p:first-child {
  margin-top: 0;
}
p:nth-child(2) {
  margin-top: 2rem;
  text-indent: 2rem;
}

p.signed {
  margin: 0;
  text-align: right;
}
p.signed:first-child {
  margin-top: 2em;
}

#card-front {
  transform-origin: left;
  -moz-transform-origin: left;
  -webkit-transform-origin: left;
  transition: transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
  position: relative;
}

#card-front .wrap {
  transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-front button {
  position: absolute;
  bottom: 1em;
  right: -12px;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25),
    0 0 1px rgba(0, 0, 0, 0.4);
}

#close {
  display: none;
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}

#card.open-half #card-front,
#card.close-half #card-front {
  transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
}
#card.open-half #card-front .wrap {
  background-color: rgba(0, 0, 0, 0.5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: #ffefef !important;
}

#card.open-fully #card-front {
  transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
  background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  position: relative;
  font-family: rucksack, sans-serif;
  font-size: 18px;
}

a::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background: currentColor;
  left: 0;
  bottom: -25%;
  transform: scale3d(0, 1, 1);
  opacity: 0;
  transform-origin: 0% 50%;
  transition: transform 0.3s, opacity 0s 0.3s;
}

a:hover::after {
  opacity: 1;
  transition: transform 0.3s;
  transform: scale3d(1, 1, 1);
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

#links {
  position: absolute;
  bottom: 5rem;
  z-index: 100;
}
#links.prev {
    left: 5rem;
}
#links.next {
  right: 5rem;
}

#links > a:not(:last-child) {
  margin-right: 1rem;
}